body{
    font-family: Arial, sans-serif;
    background:#f4f6f9;
    margin:0;
}

.hero{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:35px;
}

.btn{
    background:#ffc107;
    color:black;
    padding:10px 20px;
    text-decoration:none;
    border-radius:5px;
}

footer{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:15px;
}